{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <form  class="exit_box" action="" method="post" novalidate>
		<h1>Please enter your ticket number</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.ticketNumber.label }}<br>
            {{ form.ticketNumber(size=32, placeholder="Ticket Number") }}
	    {% for error in form.ticketNumber.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor%}
        </p>
		
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
