{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <form class ="box" action="" method="post" novalidate>
			<h7> Enter your numberplate </h7>
        {{ form.hidden_tag() }}
        <p>
            {{ form.customerNP.label }}<br>
            {{ form.customerNP(size=20, placeholder="numberplate") }}
        {% for error in form.customerNP.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
