{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <form class ="manager_box" action="" method="post" novalidate>
        <h1>Sign In</h1>
        {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username(size=32, placeholder="username") }}
            {% for error in form.username.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
        <p>
            {{ form.password.label }}
            {{ form.password(size=32, placeholder="password") }}
	    {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
