{% extends "base.html" %}

{% block head %}

  {% endblock %}

  {% block body %}

  <br>
  <br>



  <form class="ScheduledReportsBox"action="" method="POST" novalidate>
	<h2 >Current Number of Cars: {{ numCars }} </h2>
    {{ form.startdate.label }}
    {{ form.startdate }}
    {{ form.enddate.label }}
    {{ form.enddate }}
    {{ form.startTime.label }}
    {{ form.startTime }}
    {{ form.endTime.label }}
    {{ form.endTime }}
    {{ form.submit() }}
    {{ form.hidden_tag() }}
  </form>

  <br>


	<h2 class="tables">Tables: </h2>


  <br>

  {{ table|safe }}

<br>
<h2 class="graphs">Graphs: </h2>
<br>

{% for graphJSON in graphList %}
<div id="graph{{ loop.index0 }}"></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  graph = document.getElementById('graph{{ loop.index0 }}');
  var graphs = {{ graphJSON | safe }};
  Plotly.newPlot(graph,graphs,{});
</script>
</div>

{% endfor %}

{% endblock %}
