{% extends "base.html" %}

{% block head %}
	<h1>Report View</h1>
	<h2>Current Number of Cars: {{ numCars }} </h2>
{% endblock %}

{% block body %}

<form action="" method="POST" novalidate>
    {{ form.date.label }}
    {{ form.date }}
    {{ form.starthour.label }}
    {{ form.starthour }}
    {{ form.endhour.label }}
    {{ form.endhour }}
    {{ form.submit() }}
</form>

{{ table|safe }}

{% if graphJSON %}
<div id="graph"></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  graph = document.getElementById('graph');
  var graphs = {{ graphJSON | safe }};
  Plotly.newPlot(graph,graphs,{});
</script>
{% endif %}

{% endblock %}