{% extends "base.html" %}

{% block head %}
	<h1>Report View</h1>
	<h2>Current Number of Cars: {{ numCars }} </h2>
  {% endblock %}
  
  {% block body %}
  
  <br>
  <br>
  
  <h2>Date + Time Range:</h2>

  <br>

  <form action="" method="POST" novalidate>
    {{ form.startdate.label }}
    {{ form.startdate }}
    {{ form.enddate.label }}
    {{ form.enddate }}
    {{ form.startTime.label }}
    {{ form.startTime }}
    {{ form.endTime.label }}
    {{ form.endTime }}
    {{ form.submit() }}
    {{ form.hidden_tag() }}
  </form>
  
  <br>
  <br>

	<h2>Tables: </h2>
  
  <br>
  <br>

  {{ table|safe }}
  
<br>
<h2>Graphs: </h2>
<br>

{% if graphJSON %}
<div id="graph"></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  graph = document.getElementById('graph');
  var graphs = {{ graphJSON | safe }};
  Plotly.newPlot(graph,graphs,{});
</script>
{% endif %}

{% endblock %}
